.image{
    border-radius: 50%;
}
.image .one{
    width: 80%;
    aspect-ratio: 4/4;
    margin-bottom: 25px;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    width: 100%;
    text-align: center;
    padding: 15px 0px ;
}

.cards-container{
    width: 100%;
}
.backcolor{
    height: 65vh;
    width: 100%;
    background-color: #f3e3c2;
}
.background-contactus{
    width: 60%;
    margin: 50px auto;
    margin-top: -602px;
    background-color: white;
    padding: 0 40px;
}
::-webkit-scrollbar{
    display: none;
}