.side{
    width: 350px;
    padding: 20px ;
    position: absolute  ;
    background-color: rgba(216, 225, 227, 0.509);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.toggelIcons{
    position: absolute;
    right: 0;
    contain: "";
    top: 240px;
    svg{
        font-size: 40px;
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color: black;
}

.h4{
    margin: 30px 0px ; 
}
.p{
    margin-top: 15px;
}
.products{
    margin-left: 350px;
    padding: 25px;
    width: calc(100%-350px);
    position: relative;
    z-index: 00px;
}
.top-img{
    width: 100%;
    height: 200px;
    background-color: black;
}
.card-img{
    height: 300px;
}
.span {
    font-weight: 800;
    font-size: 15px;
}
.labels{
    margin: 7px;
    font-size: 15px;
}
.side label{
    margin:5px ;
    font-size: 15px;
}